<!--<div *ngIf="error" class="alert alert-danger">{{error}}</div>-->
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div class="center">
<form id="form1" [formGroup]="projectForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="projectname"><strong>Project Name</strong></label>
        <input type="text" formControlName="projectname" class="form-control" [ngClass]="{ 'is-invalid': submitted && projectForm.controls.projectname.errors }" />
        <div *ngIf="submitted && projectForm.controls.projectname.errors" class="invalid-feedback">
            <div *ngIf="projectForm.controls.projectname.errors.required">Project's name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="projecturl"><strong>Project Url</strong></label>
        <input type="url" formControlName="projecturl" class="form-control" [ngClass]="{ 'is-invalid': submitted && projectForm.controls.projecturl.errors }" />
        <div *ngIf="submitted && projectForm.controls.projecturl.errors" class="invalid-feedback">
            <div *ngIf="projectForm.controls.projecturl.errors.required">Project's Url is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="groupmember"><strong>Group Members</strong></label>
        <input type="text" formControlName="groupmember" class="form-control" [ngClass]="{ 'is-invalid': submitted && projectForm.controls.groupmember.errors }" />
        <div *ngIf="submitted && projectForm.controls.groupmember.errors" class="invalid-feedback">
            <div *ngIf="projectForm.controls.groupmember.errors.required">Group member is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="description"><strong>Project Description</strong></label>
        <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && projectForm.controls.description.errors }" />
        <div *ngIf="submitted && projectForm.controls.discription.errors" class="invalid-feedback">
            <div *ngIf="projectForm.controls.description.errors.required">description is required</div>
        </div>
    </div>
    <div id="but" class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
        </button>
        <a routerLink="/home" class="btn btn-link">Cancel</a>
    </div>
</form>
</div>