
<input type="file" class="file-input"
(change)="onFileSelected1($event)" #fileUpload1 hidden>
<input type="file" class="file-input"
(change)="onFileSelected2($event)" #fileUpload2 hidden>

<mat-vertical-stepper linear #stepper>
    <mat-step>

        <ng-template matStepLabel>Remove Image From Server</ng-template>
        <mat-form-field>
            <mat-label>Remove your image after upload?</mat-label>
            <mat-select [(value)]="toRemove">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Upload Image1</ng-template>
        <div class="file-upload">
            {{fileName1 || "No image uploaded yet."}}
            <button mat-mini-fab color="primary" class="upload-btn"
                (click)="fileUpload1.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Upload Image2</ng-template>
        <div class="file-upload">
            {{fileName2 || "No image uploaded yet."}}
            <button mat-mini-fab color="primary" class="upload-btn"
                (click)="fileUpload2.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Download Prediction</ng-template>
        <div>
            Status: {{status}}
        </div>
        <button (click)="onSave()">Download Prediction</button>
        <div>
            <!-- <button mat-button matStepperPrevious>Back</button> -->
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-vertical-stepper>





<mat-grid-list cols="3" rowHeight="1:1">

    <mat-grid-tile>
        <mat-card class="img-card">
            <mat-card-header>
                <mat-card-title>uploaded image1:</mat-card-title>
            </mat-card-header>
            <div class="div1">
                <img src={{uploaded_image_url1}}>
            </div>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="img-card">
            <mat-card-header>
                <mat-card-title>uploaded image2:</mat-card-title>
            </mat-card-header>
            <div class="div1">
                <img src={{uploaded_image_url2}}>
            </div>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="img-card">
            <mat-card-header>
                <mat-card-title>downloaded image:</mat-card-title>
            </mat-card-header>
            <div class="div1">
                <img src={{downloaded_image_url}}>
            </div>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>