
<div>
    <div class="container-fluid">
        <table class="table table-hover table-sm">
            <thead>
                <th>Project Name</th>
                <th>Description</th>
                <th>Group Members</th>
                <th>Url</th>
                <th></th>
                <!--<th>Update</th>-->
                <!--<th>Delate</th>-->
            </thead>
            <tbody>
                <tr *ngFor = 'let item of Projects'>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.groupMembers}}</td>
                    <td><a href='{{item.url}}' target='_new'>{{item.url}}</a></td>
                    <th><button mat-button style="border-radius: 12px; text-align: center; background-color: #2AF1E5; color: white;" (click)='Committed(item)'>Check Commit</button></th>
                    <!--<td><button class="btn-primary" (click)='update(item._id,item.name,item.url,item.groupMembers,item.description)' routerLink="/updateproject">update</button></td>
                    <td><button class="btn-danger" (click)='delate(item._id)'>delete</button></td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>